.head-wrapper
  .header
    .header__logo
      = link_to "水族館ログ", root_path
    .header__right-items
      = link_to "特徴と使い方", new_group_path, class: "header__right-items__feature"
      - if user_signed_in?
        = link_to "ログアウト", "/users/sign_out", method: :delete, class: "header__right-items__logout"
      - else
        = link_to "ログイン", "/users/sign_in", class: "header__right-items__login"
  .main-copy
    %h1
      水族館探しは
      %br
      水族館ログ
  .search-form
    .search-form__label
      %h2
        エリア、キーワードから探す
    .search-form__search-box
      = form_with url: '#' do |f|
        .search-form__search-box__wrapper
          .search-form__search-box__wrapper__input-area
            = f.text_field :text, id: 'area', placeholder: 'エリア [ 例：東京 ] '
          .search-form__search-box__wrapper__input-keyword
            = f.text_field :text, id: 'keyword', placeholder: 'キーワード [ 例：ペンギン ] '
          .search-form__search-box__wrapper__submit-btn
            = f.submit "検  索", class: 'btn'


