.search-by-area
  %h2
    エリアから探す
  %ul
    %li.area-box
      = image_tag asset_path('tokyo.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/tokyo'}
        東京
        %span.area-box__value
          7館
    %li.area-box.area-box--center
      = image_tag asset_path('kanagawa.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/kanagawa'}
        神奈川
        %span.area-box__value
          6館
    %li.area-box
      = image_tag asset_path('tiba.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/chiba'}
        千葉
        %span.area-box__value
          2館
  %ul
    %li.area-box
      = image_tag asset_path('ibaraki.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/ibaraki'}
        茨城
        %span.area-box__value
          3館
    %li.area-box.area-box--center
      = image_tag asset_path('saitama.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/saitama'}
        埼玉
        %span.area-box__value
          1館
    %li.area-box
      = image_tag asset_path('totigi.jpg'), :size =>'69x69', class: "image-tokyo"
      %a.area-box__area{ href: '/areas/tochigi'}
        栃木
        %span.area-box__value
          1館

