= render "common/header"

.groups_show-main

  .aquarium
    .aquarium__head
      .aquarium__head--left
        %p
          = @group.catchphrase
        %h2
          = @group.name
        .aquarium__head--left--bottom
          %p.rate
            .rate-star{id: "star_rate_#{@group.id}"}

            :javascript
              $('#star_rate_#{@group.id}').raty({
                size: 36,
                path: '/assets/',
                half: true,
                readOnly: true,
                score: "#{@group.comments.average(:rate).to_f.round(2)}",
              });

            %p.rate-number
              = @group.comments.average(:rate).to_f.round(2)
          .number
            %i.far.fa-comment-dots.icon
            %span
              = @group.comments.count
              件
            %i.far.fa-bookmark.icon
            %span
              = @group.likes.count
              件
      .aquarium__head--right
        .aquarium__head--right--top
          %div{id: "went-#{@group.id}", class: "went-btn"}
            = render "wents/went", group: @group
        .aquarium__head--right--middle
          %div{id: "like-#{@group.id}", class: "like-btn"}
            = render "likes/like", group: @group
        #open.aquarium__head--right--bottom
          %i.far.fa-comment-dots
          - if current_user.present?
            %span
              口コミする
          - else
            = link_to "口コミする",  new_user_session_path

    .aquarium__images-wrapper
      .aquarium__images-wrapper__main
        = image_tag @group.images[0].image.url, size: "600x450"
      .aquarium__images-wrapper__sub
        .aquarium__images-wrapper__sub--top
          = image_tag @group.images[1].image.url, size: "184x138"
        .aquarium__images-wrapper__sub--middle
          = image_tag @group.images[2].image.url, size: "184x138"
        .aquarium__images-wrapper__sub--bottom
          = image_tag @group.images[3].image.url, size: "184x138"

    .aquarium__explain
      %h3
        = @group.title
      %p
        = @group.text
        
    .aquarium-comments
      %h3 口コミ
      - @comments.each do |comment|
        - if comment.nil?
          .comment-none
            コメントはまだありません
        - else
          .aquarium-comments__wrapper
            .aquarium-comments__wrapper__user
              .aquarium-comments__wrapper__user__image
                = image_tag comment.user.image.url, class: "comment-user-image"
              .aquarium-comments__wrapper__user__name
                = comment.user.name
            .aquarium-comments__wrapper__comment
              .aquarium-comments__wrapper__comment__title
                = comment.title
              .aquarium-comments__wrapper__comment__text
                = comment.text
              .aquarium-comments__wrapper__comment--bottom
                .aquarium-comments__wrapper__comment--bottom__rate
                  %p.rate
                    .rate-star{id: "star_rate_#{comment.id}"}

                    :javascript
                      $('#star_rate_#{comment.id}').raty({
                        size: 36,
                        path: '/assets/',
                        score: #{comment.rate},
                        half: true,
                        readOnly: true,
                      });

                  %p.number
                    = comment.rate
                .aquarium-comments__wrapper__comment--bottom__time
                  行った時期：#{comment.visit_date}
                - if current_user.present?
                  - if comment.user.id == current_user.id
                    .aquarium-comments__wrapper__comment--bottom__edit
                      = link_to "編集", edit_group_comment_path(group_id: @group.id, id: comment.id)
                    .aquarium-comments__wrapper__comment--bottom__delete
                      = link_to "削除", group_comment_path(group_id: @group.id, id: comment.id), method: :delete

    #overlay
    #modal-window
      = render "comments/form"
    
  = render "top/side-bar"

= render "top/footer"

