.common-header
  .common-header--top
    .common-header--top__links
      = link_to "特徴と使い方", "＃", class: "common-header--top__links__feature"
      - if user_signed_in?
        = link_to "ログアウト", "/users/sign_out", method: :delete, class: "common-header--top__links__logout"
      - else
        = link_to "ログイン", "/users/sign_in", class: "common-header--top__links__login"
  .common-header__main
    .common-header__main__logo
      = link_to "水族館ログ", "/" 
    .search-form
      = form_with url: '#' do |f|
        .search-form__search-box
          .search-form__search-box__input-area
            = f.text_field :text, id: 'area', placeholder: 'エリア [ 例：東京 ] '
          .search-form__search-box__input-keyword
            = f.text_field :text, id: 'keyword', placeholder: 'キーワード [ 例：ペンギン ] '
          .search-form__search-box__submit-btn
            = f.submit "検  索", class: 'btn'
