- @groups.each do |group|
  .ranking__box
    = image_tag group.images[4].image.url, :size =>'180x180'
    .ranking__box__detail
      = link_to "#{group.name}", group_path(group), class: "ranking__box__detail__title"
      %p.ranking__box__detail__area
        = group.area

      - if group.comments.present?
        .ranking__box__detail__rate
          .rate-star{id: "star_rate_#{group.id}"}

            :javascript
              $('#star_rate_#{group.id}').raty({
                size: 36,
                path: '/assets/',
                half: true,
                readOnly: true,
                score: "#{group.comments.average(:rate).to_f.round(2)}",
              });

          .rate-number
            = group.comments.average(:rate).to_f.round(2)
        .ranking__box__detail__comment-area
          %p.ranking__box__detail__comment-area__comment
            = group.comments[-1].text
          %p.ranking__box__detail__comment-area__member
            by
            = group.comments[-1].user.name
      - else
        .comment-none
          コメントはまだありません
    .ranking__box--right
      %i.far.fa-flag.ranking__box--right__gone
        - if group.wents.present?
          = group.wents.length
        - else
          0
      .explain-gone
        "行った"の数
      %i.far.fa-bookmark.ranking__box--right__save
        - if group.likes.present?
          = group.likes.length
        - else
          0
      .explain-save
        "保存"の数
