- @groups.each do |group|
  .ranking__box
    = image_tag group.images[4].image.url, :size =>'180x180'
    .ranking__box__detail
      = link_to "#{group.name}", group_path(group), class: "ranking__box__detail__title"
      %p.ranking__box__detail__area
        = group.area
      %p.ranking__box__detail__rate
        ☆☆☆☆☆ 4.00
      - if group.comments.present?
        .ranking__box__detail__comment-area
          %p.ranking__box__detail__comment-area__comment
            = group.comments[-1].title
          %p.ranking__box__detail__comment-area__member
            by
            = group.comments[-1].user.name
      - else
        .comment-none
          コメントはまだありません
    .ranking__box--right
      %i.far.fa-flag.ranking__box--right__gone
        5
      .explain-gone
        "行った"の数
      %i.far.fa-bookmark.ranking__box--right__save
        3
      .explain-save
        "保存"の数
